* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #F594A7;
    background-image: url('24.png');
  }
  
  .calculadora {
    background-color: #F5A9B9;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    padding: 10px;
  }
  
  table td {
    display: inline-block;
  }
  
  .btn {
    margin: 3px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius:15%;
    background-color: #F5C8C9;
    color: white;
    font-weight: bold;
    font-size: 23px;
    transition: all 500ms ease-in-out;
    border: none;
  }
  
  .btn:hover {
    background-color: #FFACC7;
  }
  
  .ac {
    width: 106px;
  }
  
  .pescial {
    width: 106px;
    background: url('24.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .result {
    height: 100px;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
    font-family: 'arial';
    border-bottom: 1px solid white;
    color: white;
  }

  .conteudo {
    background-color: white;
  }

  #botao {
    background-color: #F588AF;
    transition: all 500ms ease-in-out;
  }

  #botao:hover {
    background-color: #F598AB;
  }
